@charset "UTF-8";

#comments {
	width: 100%;
	min-height: 80px;
	height: inherit;
	background-color: #e6e6e6;
	margin-bottom: 5px;
	padding: 5px;
}

#comment {
	width: calc(100% - 10px);
	min-height: 80px;
	height: inherit;
	background-color: gray;
	margin: 5px;
	margin-bottom: 5px;
	display: block;
}

#commenthead {
	height: 30px;
	width: 100%;
	background-color: #c0c0c0;
	line-height: 30px;
	padding: 0px 5px;
	box-sizing: border-box;
}

#cid {
	float: left;
}

#cdate {
	float: right;
}

#commentbody {
	width: 100%;
	height: auto;
	word-break:break-all;
	min-height: 50px;
	padding-left: 10px;
	box-sizing: border-box;
	background-color: white;
	position: relative;
}

#cwriteform {
	width: 100%;
	height: 150px;
	background-color: #c1c1c1;
	padding: 10px;
}

#cwriteform textarea {
	margin:0px;
	width: calc(100% - 130px);
	height: 130px;
	vertical-align: middle;
	padding: 10px;
	resize: none;
}

#cwriteform button {
	margin:-0px;
	vertical-align: middle;
	width: 130px;
	height: 130px;
	background-color: black;
	color: white;
	margin-left: -6px;
}