@charset "UTF-8";
body{
	width: 100%;
	height: 100%;
}
#main{
	display:flex;
	justify-content:center;
	align-items:center;
}
#login{
	text-align:center;
	margin: 0 auto;
	min-height: 300px;
	width: 300px;
	padding: 10px;
	background-color: #c0c0c0;
	align-content: center;
}
#login input{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	text-align: center;
	font-size: large;
	vertical-align: middle;
}
#login a{
	margin-top:-5px;
	height: 38px;
	width: 135px;
	line-height:35px;
	font-size: large;
	background-color: #d0d0d0;
	display: inline-block;		
	padding: 3px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}
#login a:link{
	color: black;
}
#login button{
	height: 40px;
	width: 135px;
	font-size: large;
}